body{
  border: 0;
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
/*---caracteristicas textos--*/
body{
  font-family: 'Montserrat',sans-serif;

}
.title{
  color:inherit;
  text-transform: uppercase;
  font-size: 2.45em;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-stroke-width:0.07em;
  letter-spacing: 0.1em;
  }
.text-p{
  color:inherit;
}
/*--estrella y barras--*/
.icon-star{
   color: inherit;
   font-size: 2em;
   font-weight: 300;
   margin: 1.5% 0;
  }

  .icon-star::after, .icon-star::before{
    content: '';
    display: inline-block;
    border: 0.08em solid;
    border-color: inherit;
    width: 7.5%;
    margin-bottom: 0.3em;
  }

  .icon-star .fa-star {
    padding-left: .3em;

}
/*contenido*/
.container{
    text-align: center;
    justify-content: center;
    padding:7.5%;

  }
/*---barra de navegacion--*/
.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar {
      background: #2c3e50;
      color: white;
  }
  .navbar .container{
    display: flex;
    justify-content: space-between;
    padding:0;
  }

  .navbar .title{
    font-size: 1.5em;
    margin: 2.5% 10%;
    text-decoration: none;
  }
  .sb-logo{
    -webkit-text-stroke-width: 2px;
    }

   .navbar .nav-item {
    display: inline-block;
    font-size:60%;

  }
  .nav-item a{
    text-decoration: none;
    color : white;
    transition:color 0.5s;
  }
  .nav-item a:hover{
      color :  #18bc9c;
  }

/*section header*/
.masthead {
      color: white;
      background: #18bc9c;
  }
  .masthead img {
 padding: 5% 0 3.5% 0;

    }
  .masthead .title{
      font-size: 4em;

  }
  .masthead .text-p{
    font-size: 1.5em;
  }


/*section portfolio*/
.portfolio{
   color: #212529;
 }
  .row{
    margin:0 5%;
  }
  .row .portfolio-item{
    display: inline;
  }
  .row .portfolio-item img{
    width: 30%;
    max-width: 800rem;
    height: 30%;
    margin: 1%;
  }

/* seccion ABOUT */

.about{
  background: #18bc9c;
  color: white;
  }


  .column-about{

    display: inline-grid;
     line-height: 2em;
     font-size: 1em;
    margin:1.5% 2.5%;
    text-align: left;
    width: 30%;
  }
  .button-box{
    display: inline-block;
    background:#18bc9c;
    border: 2px solid white;
    border-radius: 5px;
    width: 20%;
    padding: 1em;
    color: white;
    font-size: 1.2em;
  }


  .button-box:hover{

    background:white;
    color:#18bc9c;
  }

/*Section Contact Me*/

.contact {
    color: #212529;
    width: 100%;
  }
  .box-form{
    width: 70%;
    display: inline-block;
  }
  .form-group{
    padding-top: 4em;
    margin: 2em;
    width:90%;

  }
  .form-control{
   border: none;
   width: 100%;
   display: block;
   font-size:2em;
  }

/*seccion footer*/

.footer{
    background:#2c3e50;
    color: white;
  }
  .column-footer{
    display: inline-grid;
    width: 30%;
  }

  .circle-icon {
    display: inline-block;
    border: 1px solid white;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    margin: 1px;
  }

  .circle-icon .fa{
    margin: 5px;
  }
